:root {
    --bodyColor: #f5f3f3f1;
    --color: #49b4e6;
    --gray: #646566;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h2 {
    color: var(--color)
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bodyColor);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: var(--color);
}

.main {
    width: 70%;
    height: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    background-color: #fdfdfdfb;
    box-shadow: 0 0 8px #949494, 0 0 5px #b4b3b3,
        0 0 3px #f0e3e3, 0 0 3px #e1dede;

    border-radius: 5px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.logo-container>h3 {
    margin: 1vw;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em 0px 1em 0px;
    padding: 5px;
    border: 2px solid rgb(120, 120, 120);

}

.form>.textbox {
    display: inline-flex;
    flex-direction: row;
    column-gap: 1em;
    width: 100%;
}


input {
    width: 85%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: inset 0 0 4px #cdc8c8,
        inset 0 0 4px #cccaca,
        0 0 3px #f0e3e3,
        0 0 3px #e1dede;
}


button {
    width: 15%;
    background-color: var(--color);
    border-color: transparent;
    border-radius: 4px;
    color: whitesmoke;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover {
    border: 2px solid var(--color);
    background-color: whitesmoke;
    color: rgb(59, 58, 58)
}

.instruction {
    width: 100%;
    margin: 10px 0px 10px 0px;
    color: var(--gray)
}

.instruction p {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.Category h3 {
    margin: 2px;
    padding: 2px;
}