:root {
    --bodyColor: #f5f3f3f1;
    --color: #5CC2F2;
    --gray: #646566;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bodyColor);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.main {
    width: 70%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    background-color: #fdfdfdfb;
    box-shadow: 0 0 8px #949494, 0 0 5px #b4b3b3,
        0 0 3px #f0e3e3, 0 0 3px #e1dede;

    border-radius: 5px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-container>h2 {
    color: var(--color)
}

.logo-container>h3 {
    margin: 1vw;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em 0px 1em 0px;
    padding: 5px;
    border: 2px solid rgb(120, 120, 120);

}

.form>.textbox {
    display: inline-flex;
    flex-direction: row;
    row-gap: 5em;
}

.form>.textbox>input {
    width: 100%;
    margin: 0em 2em 0em 0em;
    
}

.instruction {
    width: 100%;
    margin: 10px;
    text-align: center;
    color: var(--gray)
}